package tables

templ ChangeTablePage() {
	<div class="change-tables">
		<table>
			<tr>
				<th>Users</th>
				<th>Broadcast</th>
				<th>Files</th>
			</tr>
			<tr>
				<td><button hx-get="/tables/users" hx-target="main">Change</button></td>
				<td><button hx-get="/tables/broadcast" hx-target="main">Change</button></td>
				<td><button hx-get="/tables/files" hx-target="main">Change</button></td>
			</tr>
		</table>
	</div>
}
